<!-- Copyright 2001 Macromedia, Inc. All rights reserved. -->
<html>
<head>
<SCRIPT SRC="../../Common/JavaBeans/JavaBean.js"></SCRIPT>
<SCRIPT SRC="../../../Shared/MM/Scripts/CMN/displayHelp.js"></SCRIPT>
<SCRIPT SRC="../../Common/ComponentCommon.js"></SCRIPT>
</head>
<body>
<form>
  <div ALIGN="center"> 
    <table border="0">
      <tr> 
        <td align="center" valign="baseline" nowrap>
			若要添加 Web 服务:
		</td>
      </tr>
      <tr> 
		<td>&nbsp;</td>
	  </tr>
      <tr> 
        <td align="left" valign="baseline" nowrap>
			单击工具栏上的加号 (+) 按钮。
		</td>
      </tr>
    </table>
  </div>
</form>
</body>
</html>
