body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #919EA4;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	margin: 0;
}

a:link {
	color: #005FA9;
	text-decoration: none;
}
a:visited {
	color: #005FA9;
	text-decoration: none;
}
a:hover {
	color: #005FA9;
	text-decoration: underline;
}
a:active {
	text-decoration: none;
}
h2 {
	font-size: 16px;
	font-weight: bold;
}
listCopy {
	text-indent: 12px;
}
h3 {
	font-size: 14px;
	font-weight: bold;
}
.headingTwo {
	font-size: 16px;
	font-weight: bold;
}
