<html>
<head>
<!-- Copyright 2001 Macromedia, Inc. All rights reserved. -->
<SCRIPT SRC="../../Common/WebServices/WebServicesCommon.js"></SCRIPT>
<SCRIPT SRC="../../Common/WebServices/WebServices.js"></SCRIPT>
<SCRIPT SRC="../../../Shared/MM/Scripts/CMN/displayHelp.js"></SCRIPT>
<SCRIPT SRC="../../../Shared/Ultradev/Scripts/proxyCmn.js"></SCRIPT>
<SCRIPT SRC="../../Common/ComponentCommon.js"></SCRIPT>
<SCRIPT SRC="../../Common/SignatureBuilder.js"></SCRIPT>
<!-- End removal area. -->
</head>
<body>
<form>
  <div ALIGN="center"> 
    <table border="0">
      <tr> 
        <td align="center" valign="baseline" nowrap>
			若要添加 Web 服务:
		</td>
      </tr>
      <tr> 
		<td>&nbsp;</td>
	  </tr>
      <tr> 
        <td align="left" valign="baseline" nowrap>
			单击工具栏上的加号 (+) 按钮。
		</td>
      </tr>
    </table>
  </div>
</form>
</body>
</html>
