body {
	background-color: #003366;
}

body {
	color: #DEDECA;
}

td, th {
	color: #99CCCC;
}

h1 {
	color: #FFFF33;
}

h2 {
	color: #FFFF66;
}

h3, h4 {
	color: #FFFFCC;
}

h5, h6 {
	color: #6699CC;
}

a {
	color: #9999cc;
}