<!-- MENU-LOCATION=NONE -->
<html>
<head>
<!-- Copyright 2002 Macromedia, Inc. All rights reserved. -->
<title><MMString:LoadString id="insertbar/repeatingTable" /></title>
<!-- Remove the following SCRIPT tag if you are modifying this file for your own use. -->
<script language="javascript" src="../../Shared/MM/Scripts/CMN/displayHelp.js"></script>
<script language="javascript" src="../../Shared/MM/Scripts/CMN/TemplateUtils.js"></script>
<!-- End removal area. -->

<script language="javascript" >

function isDOMRequired() 
	{ // Return true, indicating that this object is available in code view.
	return true;
	}

function objectTag()
	{
	var cmdFile = dreamweaver.getConfigurationPath() + "/Commands/RepeatingTable.htm";
	var cmdDOM = dreamweaver.getDocumentDOM(cmdFile);

	if (!cmdDOM.parentWindow.canInsert())
		return; 
		
	dreamweaver.popupCommand("RepeatingTable.htm");
	return (cmdDOM.parentWindow.createTableStr());	
	}
</script>
</head>

<body >
</body>
</html>
