a:visited {
	color: #000000;
}
a:hover {
	text-decoration: underline;
}
body {
	background-color: #EEEEE6;
	margin-top: -10px;
	margin-left: -10px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.label {
	font: bold 12px Tahoma, Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	margin-top: 12px;
}
td {
	font-family: ‘v‘Ì, sans-serif;
	font-size: 11px;
}
.decoratedLink {
	text-decoration: underline;
}
a {
	text-decoration: none;
	color: #000000;
}
.headerBG {
	background-color: #88DD00;
}
.darkRule {
	background-color: #B7B7AF;
}
.lightRule {
	background-color: #FFFFFF;
}
.medRule {
	background-color: #E2E3DE;
}
p {
	margin-bottom: -13px;
	margin-left: 15px;
}
.subitem {
	padding-left: 10px;
}
.dontShowItem {
	margin-top: 2px;
	margin-left: 12px;
	margin-bottom: 2px;
}
.alignIconWithText {
	vertical-align: middle;
}
.learnItemTop {
	margin-top: 18px;
}