<!-- Copyright 2001-2002 Macromedia, Inc. All rights reserved. -->
<HTML>
<HEAD>
<SCRIPT SRC="../../Common/Connections/ConnectionsCommon.js"></SCRIPT>
<SCRIPT SRC="../../Common/Connections/Connections.js"></SCRIPT>
<SCRIPT SRC="../../Common/ComponentCommon.js"></SCRIPT>
<SCRIPT SRC="../../../Shared/Common/Scripts/dwscriptsServer.js"></SCRIPT>
<SCRIPT SRC="../../../Shared/Common/Scripts/dwscripts.js"></SCRIPT>
<SCRIPT SRC="../../../Shared/UltraDev/Scripts/sbManager.js"></SCRIPT>
<SCRIPT src="../../../Shared/MM/Scripts/CMN/string.js"></SCRIPT>
<SCRIPT SRC="../../../Shared/UltraDev/Scripts/SQLTypes.js"></SCRIPT>

</HEAD>
<body>
<form>
  <div ALIGN="center">
    <table border="0">
      <tr>
        <td align="center" valign="baseline" nowrap>
			通过从加号 (+) 菜单选择来定义数据库连接
		</td>
      </tr>
    </table>
  </div>
</form>
</body>
</HTML>
