/* CSS Document */

/* FUNCTION-SPECIFIC TEXT FIELD STYLES */

/* for font sizes or single character entries */
.smallNumOrChar {width:35px}

/* for fields designed to accept tag or cell contents */
.contentsField {width:400px;height:100px;font-size:10px}

/* for fields containing long strings or message text */
.stringOrMsgField {width:250px;height:125px;font-size:10px}

/* GENERIC, SIZE-BASED TEXT FIELD STYLES */

.xsmallTField {width:50px}

.smallTField {width:75px}

.medTField {width:150px}

.basicTextField {width:200px}

.largeTField {width:250px}

.xlargeTField {width:300px}

.xxlargeTField {width:400px}

/* LIST CONTROL (SELECT LIST) STYLES */

/* for action options like "Go to URL", "Stay on Page", "Open Window". */
.actionList {width:125px}

/* for horizontal or vertical alignment options. */
.alignList {width:180px}

/* for lists of encodings */
.charsetList {width:150px}

/* for graph/chart types, such as pie, area, line, etc. */
.chartTypeList {width:200px}

/* for class names */
.classList {width:200px}

/* for column names */
.columnNameList {width:150px}

/* for multiple-select column name lists */
.columnNameMultiList {width:200px}

/* for descriptive column lists (e.g., "'NextGame' does not get a value") */
.columnDescList {width:365px}

/* for operators such as =, !=, <, >= or their text equivalents (equals, does not equal, etc.) */
.comparisonList {width:100px}

/* for connection names */
.connNameList {width:200px}

/* for connection, recordset, or table names. */
.connRSTableList {width:200px}

/* for DSNs */
.dataSourceList {width:200px}

/* for data types; e.g., "Display As" and "Submit As" fields */
.dataTypeList {width:150px}

/* for days of the week*/
.dayList {width:150px}

/* for database tree controls */
.dbTreeList {width:400px;height:110px}

/* for design note info */
.designNoteInfoOrValue {width:350px}

/* for direction and language lists (which appear in most HTML tag dialogs) */
.dirLangList {width:150px}

/* for lists of form fields (often labeled "Value:" in SBs */
.fieldList {width:150px}

/* for lists of font cascades */
.fontGroupList {width:250px}

/* for lists of single font names */
.fontList {width:150px}

/* for date formats, etc. */
.formatList {width:150px}

/* for frame and window lists (e.g., New Window, frame "frame1", frame "frame2") */
.frameList {width:250px}

/* for image formats (e.g, "JPEG - Better Quality", "GIF - WebSnap 256", etc. */
.imageFormatList {width:150px}

/* for item lists (e.g., navbar elements, jump menu items, design notes) */
.itemList {width:250px}

/* for lists of MIME types. */
.mimeTypesList {width:200px}

/* for lists of multi-word options that do not fit into any more specific class. */
.multiWordOptionList {width:250px}

/* for lists of named images, movies, etc. in the user's document. */
.namedObjectsList {width:300px}

/* for lists of one-word options that do not fit into any more specific class. */
.oneWordOptionList {width:125px}

/* for parameter names */
.paramNameList {width:200px}

/* for callable parameter names */
.jspParamNameList {width:515px}


/* for parameter types */
.paramTypeList {width:200px}

/* for contributor personas */
.personaList {width:200px}

/* for plugin types */
.pluginList {width:200px}

/* for lists of stored procedures */
.procList {width:200px}

/* for css style properties, attributes, etc. */
.propertyList {width:150px}

/* for lists of internet protocols (such as http://, https://, ftp://, etc.) */
.protocolList {width:100px}

/* for lists of introspectors */
.proxyList {width:200px}

/* for recordset names */
.rsNameList {width:200px}

/* for jrun and cfml selector lists */
.selectorList {width:150px}

/* for lists of small numbers or chars, such as point sizes or heading tags */
.smallNumOrCharList {width:50px}

/* for SQL types and directions */
.sqlTypeList {width:200px}

/* for lists of border styles, etc. */
.styleList {width:200px}

/* for lists of tag types (e.g., a tags, form tags, etc. */
.tagList {width:200px}

/* for HREF targets. this one is tricky, because user-defined targets (including frame names) could be longer than the standard targets. */
.targetList {width:125px}

/* for template types (e.g., in DataList dialog) */
.templateList {width:200px}

/* for units such as percent, pixels, points, ems, etc. */
.unitList {width:75px}
